
/* customize for body,body #page */ 
body,body #page { 
font-size:e200e6px 
} 

/* customize for .footer-top .inner */ 
.footer-top .inner { 
color:#1613ed 
} 

/* customize for .footer-top a */ 
.footer-top a { 
color:#ffee00 
} 
